<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-container">
    <ion-card>
      <ion-card-header class="ion-align-items-center">
        <ion-card-subtitle>Dados do Cliente</ion-card-subtitle>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-input
          label="Nome"
          label-placement="floating"
          fill="outline"
          placeholder="Nome completo"
          ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input
          label="E-mail"
          label-placement="floating"
          fill="outline"
          placeholder="seu@email.com"
          ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input
          label="CPF"
          label-placement="floating"
          maxlength="14"
          fill="outline"
          placeholder="***.***.***-**"
          ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input
          label="Motivo"
          label-placement="floating"
          fill="outline"
          placeholder="Casamento, confraternização etc..."
          ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input
          label="Quantidade"
          maxlength="3"
          label-placement="floating"
          fill="outline"
          placeholder="Numero de pessoas"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Informações</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Reservas mínima de 24 horas e máxima de 45 dias, apenas uma reserva por
        dia com o mesmo CPF.
      </ion-card-content>
    </ion-card>

    <ion-datetime max="2025-12-30" min="2025-11-20"></ion-datetime>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="auto">
          <ion-button id="cancelar-alert" size="small" color="danger"
            >Cancelar</ion-button
          >
          <ion-alert
            trigger="cancelar-alert"
            header="Você deseja cancelar, sua reserva?"
          ></ion-alert>
        </ion-col>
        <ion-col size="auto">
          <ion-button id="confirmar-alert" size="small" color="success"
            >Reservar</ion-button
          >
          <ion-alert
            trigger="confirmar-alert"
            header="Você deseja salvar sua reserva?"
          ></ion-alert>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Rodapé </ion-title>
  </ion-toolbar>
</ion-footer>
