<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-avatar class="ion-avatar">
  <div class="logo-avatar">
    <img alt="imagem do logo" src="../../assets/evinho 2.jpg" />
  </div>
</ion-avatar>

<ion-content class="ion-padding">
  <div class="logo-container">
    <ion-list>
      <ion-item>
        <ion-input label="Everson Alves dos Reis"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="E-mail:" placeholder="everson.alves18@hotmail.com"></ion-input>
      </ion-item>
      
      
      <ion-item>
        <ion-input label="CPF:" value="***.***.***-**"></ion-input>
      </ion-item>
      
      
      <ion-item>
        <ion-input
        label="Endereço:"
        value="Av. Ernesto Souza Cruz 1355"
        [disabled]="true"
        ></ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-item>
    <ion-input
      label="Bairro:"
      value="A.E Carvalho"
      [readonly]="true"
    ></ion-input>
  </ion-item>

  <ion-header>
    <ion-toolbar>
      <ion-title>Data de Nascimento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime value="1993-11-07"></ion-datetime>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Rodapé </ion-title>
  </ion-toolbar>
</ion-footer>
