<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <ion-list>
  <ion-item>
    <ion-input label="Everson Alves dos Reis"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="E-mail:" placeholder="Digite seu E-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="CPF:" value="Digite seu CPF"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Bairro:" value="A.E Carvalho" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Endereço:" value="Av. Ernesto Souza Cruz 1355" [disabled]="true"></ion-input>
  </ion-item>
</ion-list>

<ion-card>
  <ion-card-header>
    <ion-card-title>Aulas de Ionic</ion-card-title>
    <ion-card-subtitle>Bem vindo as aulas de Ionic, hoje vamos falar de componentes e funções do Ionic.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
</ion-card>

<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Aula 1</ion-card-title>
    <ion-card-subtitle>Cards e Buttons</ion-card-subtitle>
  </ion-card-header>

<ion-card-content>
  </ion-card-content>
</ion-card>



</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="i-text-center">
        Informações do Rodapé
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>