:root {
	--ion-color-primary: #8b1e1e;
	--ion-color-primary-rgb: 139,30,30;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #7a1a1a;
	--ion-color-primary-tint: #973535;

	--ion-color-secondary: #d4a017;
	--ion-color-secondary-rgb: 212,160,23;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bb8d14;
	--ion-color-secondary-tint: #d8aa2e;

	--ion-color-tertiary: #faf7f2;
	--ion-color-tertiary-rgb: 250,247,242;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #dcd9d5;
	--ion-color-tertiary-tint: #fbf8f3;

	--ion-color-success: #2e7d32;
	--ion-color-success-rgb: 46,125,50;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #286e2c;
	--ion-color-success-tint: #438a47;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #b22222;
	--ion-color-danger-rgb: 178,34,34;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #9d1e1e;
	--ion-color-danger-tint: #ba3838;

	--ion-color-light: #ffffff;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #2b2b2b;
	--ion-color-medium-rgb: 43,43,43;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #262626;
	--ion-color-medium-tint: #404040;

	--ion-color-dark: #3a2f2f;
	--ion-color-dark-rgb: 58,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #332929;
	--ion-color-dark-tint: #4e4444;

}